<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mindfit">

    <application
        android:theme="@style/Theme.MindFit">

        <!-- SplashActivity (actividad LAUNCHER) -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WelcomeActivity -->
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="false" />

        <!-- LoginActivity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />

        <!-- MainActivity -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />

        <!-- RegisterActivity -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MindFit"/>

    </application>
</manifest>